@charset "utf-8";
/* CSS Document */

.form-inline select.form-control {width: 216px;}

.form-control {
    height: 40px;
    font-size: 18px;
	
    
}
/*@media (max-width: 1200px) {.tabbable { width:550px;}}
@media (max-width: 900px) {.tabbable { width:550px;}}
@media (max-width: 767px) {.tabbable { width:550px;}}*/
/*@media (max-width: 320px) {.tabbable { width:100%;}}*/

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

@media (min-width: 768px) and (max-width: 1600px) {.tabbable { width:650px; }  #mo {width:700px;}
}
@media (min-width: 540px) and (max-width: 767px) {.tabbable { width:500px; margin:0 auto;} 
}
/*@media (min-width: 300px) and (max-width: 539px) {.tabbable { width:300px; margin:0 auto;}  #mo {margin-left:20px;} .form-inline select.form-control {width: 1100%;}
.form-control {
    height: 30px;
    font-size: 14px;
	
    
}
}*/
/*experimental*/

.dro a{ display:block; color:#333; border-radius:10px;}
.dro a:hover { color:#Fff; background-color:#428bca; text-align:center;}



 /*Pills*/
 
 
 
.nav-pills > li.active {
	position: relative;
    width: auto;
    height: auto;
    padding: 0px;
   /* background: #dcdcdc;*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	
	
	}
.nav-pills > li.active:after {content: "";
    position: absolute;
   
    left: 40%;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #ee2c3d  transparent;
    display: block;
    width: 0;
    z-index: 1;}
