@charset "utf-8";
/* CSS Document */

.form-inline select.form-control {width: 216px;}
.form-control {
    height: 40px;
    font-size: 18px;    
}

.navbar-inverse {
    background-color: #000;
    border-color: #000;
}

@media (min-width: 768px) and (max-width: 1600px) {.tabbable { width:650px; }  #mo {width:700px;}
}

@media (min-width: 540px) and (max-width: 767px) {.tabbable { width:500px; margin:0 auto;} 
}


.dro a{ display:block; color:#333; border-radius:10px;}
.dro a:hover { color:#Fff; background-color:#428bca; text-align:center;}



 /*Pills*/
 
 .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #ee2c3d;
}
 
.nav-pills > li.active {
	position: relative;
    width: auto;
    height: auto;
    padding: 0px;
   /* background: #dcdcdc;*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	
	
	}
.nav-pills > li.active:after {content: "";
    position: absolute;
   
    left: 40%;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #ee2c3d  transparent;
    display: block;
    width: 0;
    z-index: 1;}
