<!DOCTYPE html>
<html lang="en" data-ng-app="app">
    <head>
        <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-59202259-1', 'auto');
    ga('send', 'pageview');
        </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="Content/Images/favicon.png">
    <title>Sell your junk car, lightning fast!</title>
    <link href="Content/Assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="Content/Assets/CSS/bootstrap.css" rel="stylesheet">
     
        <script src="Scripts/angular.min.js"></script>
        <script src="Scripts/angular-route.js"></script>
        <script src="Scripts/angular-file-upload-shim.min.js"></script>
        <script src="Scripts/angular-file-upload.min.js"></script>

        <script src="App/RouteConfig.js"></script>
        <!--<script src="Scripts/angular-sanitize.js"></script>-->
        <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>-->
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
        <script src="App/Config/App.js"></script>
        <script src="App/Controllers/UtilityController.js"></script>
        <script src="App/Services/UtilityService.js"></script>
        <script src="App/Services/AccountsService.js"></script>
        <script src="App/Controllers/AccountsController.js"></script>

        <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
        <script src="App/Animation/angular-spinner.js"></script>
        <script type="text/javascript" src="Scripts/angular-animate.js"></script>
        <link href="Content/Assets/CSS/animations.css" rel="stylesheet">
        <script type="text/javascript" src="App/Animation/alerts-manager.js"></script>

        <script type="text/javascript" src="App/CustomDirectives/filters.js"></script>
        <link href="Content/Assets/CSS/angular.rangeSlider.css" rel="stylesheet">
        <script type="text/javascript" src="App/CustomDirectives/angular.rangeSlider.js"></script>
        <script type="text/javascript" src="App/CustomDirectives/rangeFilter.js"></script>
        <script type="text/javascript" src="App/CustomDirectives/timeRangeFilter.js"></script>
  
 
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
   </head>

<style>


.navbar-brand {
  float: left;
  height: 62px;
  /*padding: 15px 15px;*/
  font-size: 18px;
  line-height: 20px;
}

ul {
    line-height: 28px;
    
    font-size: 18px;
}

</style>
<body id="page" style="background-color:#fff;" >

<!-- <ul class="cb-slideshow hidden-xs">
 <li><span>Image 01</span></li>
 <li><span>Image 02</span></li>
 <li><span>Image 03</span></li>
 <li><span>Image 04</span></li>
 <li><span>Image 05</span></li>
 <li><span>Image 06</span></li>
 </ul> -->

<div class="container-fluid" >

<!--First Row-->
<div class="row">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a data-ng-controller="utilityController as utilityControllerVM" data-ng-click="utilityControllerVM.redirectIndex();" class="navbar-brand" href="http://www.junkcartrader.com">
                    <!-- <img src="http://placehold.it/150x50&text=Logo" alt="">-->
                    <img src="Content/Images/logo.png" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div data-ng-controller="accountsController as accountsControllerVM" class="collapse navbar-collapse bs-navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="http://www.junkcartrader.com">Get an offer</a></li>
                    <li><a href="Howitworks.html">How it works</a></li>
                    <!--<li><a href="#">Testimonial</a></li>-->
                    <li class="active"><a href="#">About us</a></li>
                    <li><a href="Contactus.html">Contact us</a></li>
                    <li><a href="Signup.html">Sign up</a></li>
                    <li data-ng-hide="accountsControllerVM.isLoggedIn"><a href="Login.html">Login</a></li>
                    <li style="color:#F00"><a href="#" data-toggle="modal" data-target="#Modal2"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true" style="color: #F00"></span> Call us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" data-ng-init="accountsControllerVM.getUserName();" data-ng-show="accountsControllerVM.isLoggedIn">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Welcome, {{liun |limitTo:4 }} {{liun.length >= 4 ?'....' : ''}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="Settings.html"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                            <li class="divider"></li>
                            <li data-ng-click="accountsControllerVM.logout();"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>
<!--End First Row-->

<!--Second Row--> 
<div class="row">
<div class="col-lg-12" style="background:url(Content/Images/1234.jpg) no-repeat center center; background-size:cover; height:400px; margin-top:55px">

</div>
</div>
<!--End Second Row-->


<!--Third Row--> 
<!--<div class="row" style="background-color:#e9e9e9; padding-bottom:30px">

<div class="col-lg-4 col-sm-4">
<div style="text-align:center;padding-left:15px; padding-right:15px"> <img src="Content/Images/icon2.png"/> </div>
<h2 class="section-heading" style="text-align:center; padding-top:5px; ">Get an offer</h2>
</div>

<div class="col-lg-4 col-sm-4">
<div style="text-align:center;padding-left:15px; padding-right:15px"> <img src="Content/Images/icon1.png"/> </div>
<h2 class="section-heading" style="text-align:center; padding-top:5px; ">Get it towed</h2>
</div>

<div class="col-lg-4 col-sm-4">
<div style="text-align:center;padding-left:15px; padding-right:15px"> <img src="Content/Images/icon3.png"/> </div>
<h2 class="section-heading" style="text-align:center; padding-top:5px; ">Get Paid</h2>
</div>

</div>-->
<!--End Third Row-->


<!--Fourth Row-->
<div class="row" style="margin-top:1px; background-image:url(Content/Images/footer.png);">

<div class="container">
<div class="col-lg-12" ><br>
<blockquote>
    <p style="text-align:left; padding:20px; font-size:18px; color:#CCC">“Your time is limited, so don’t waste it living someone else’s life. Don’t be trapped by dogma- which is living with the results of other people’s thinking. Don’t let the noise of other’s opinions drown out your own inner voice. And most important, have the courage to follow your heart and intuition.”</p>
    <footer style="text-align:right;color:#CCC">Steve Jobs</footer>
  </blockquote>
</div>
</div>
</div>
<!--End Fourth Row--> 
<h1 style="text-align:center; margin-top:15px; font-size:30px"><span><img src="Content/Images/icona.png" /> </span><BR>About Us</h1>
<!--Fifth Row-->
    <div class="row" style="margin-top:15px;margin-bottom:60px">
        <div class="container">
            <div class="col-lg-12 ">
                <hr>
                <p style=" text-align:left; font-size:18px;  padding:5px">
                    Abdel, the Founder of Hanna Auto Mart, graduated from the University of Central Florida with a Master’s Degree in Mechanical Engineering but decided to follow his dream and passion of building his own business to help his community.
                </p>
                <p style=" text-align:left; font-size:18px;  padding:5px">
                    Hanna Auto Mart is been serving Florida for the past 15 years and have a great and successful years of experience in the Junk Car Removal business. Our service covers the area from the East Coast to West Coast of the Sunshine State (Florida).
                </p>
                <p style=" text-align:left; font-size:18px;  padding:5px">
                    Our management continuously works hard toward enhancing our services, with that being said we’ve conducted surveys to ask our loyal customers what we are missing to fill the gap and stay always in touch.
                </p>
                <p style=" text-align:left; font-size:18px;  padding:5px">
                    That’s when www.junkcartrader.com was born; it’s a website that allows our customers to reach us easily in an effort from us to make our service within the reach of a fingertip.
                </p>
                <p style=" text-align:left; font-size:18px;  padding:5px">
                    We want to serve everybody and all generations in Florida and make them focus on what is more important in their life than worrying about how to get rid of their junk car which is in the way.
                </p>
                <p style=" text-align:left; font-size:18px;  padding:5px">
                    The process is very simple and you can complete it in minutes, please go to our “<a href="Howitworks.html">How it works</a>” page to learn about our process.
                    Please like our <a href="https://www.facebook.com/junkcartrader" target="_blank">Facebook page</a> so we can keep you posted of what is going on.
                </p>


                <p style=" text-align:left; font-size:18px;  padding:5px">
                    Coming Soon!!! our mobile app which will make this process a fun process.
                </p>

                </p>
            </div>
        </div>
    </div>
<!--End Fifth Row-->

<!--Sixth Row-->
    <div id="footer" class="row">
        <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color:#000; height:30px">
            <div class="navbar-inner navbar-content-center">

                <div class="col-lg-4 text-center">
                    <a href="#" class="btn btn-link" role="button" style="color:#fff; font-size:11px;">About Us</a>
                    <a href="Howitworks.html" class="btn btn-link" role="button" style="color:#fff; font-size:11px;">How it works</a>
                    <a href="Contactus.html" class="btn btn-link" role="button" style="color:#fff; font-size:11px;">Contact Us</a>
                </div>

                <div class="col-lg-4 text-center">
                    <span style="display:block; text-align:center; list-style:none; font-size:11px; color:#FFF; height:30px; padding-top:7px ">
                        Copyright © 2015 junkcartrader.com. All Rights Reserved
                    </span>
                </div>

                <div class="col-lg-4 text-center">
                    <ul style="display:block; list-style:none; ">
                        <li style="display:inline"> <a href="https://www.facebook.com/junkcartrader" target="_blank"> <img src="Content/Images/facebook.png" /> </a> </li>
                        <li style="display:inline"> <a href="https://twitter.com/junkcartrader" target="_blank"> <img src="Content/Images/twitter.png" /> </a> </li>
                        <li style="display:inline"> <a href="https://www.linkedin.com/company/6386060" target="_blank"> <img src="Content/Images/linkedin.png" /> </a> </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
<!--End Sixth Row-->

<!--Modal 3-->
            <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color:#27bbed;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        </div>
                        <div class="modal-body">
                            <div style="padding:20px">
                                <form role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="callUsZipCode" data-ng-model="utilityControllerVM.zipCode" data-ng-keypress="onKeyPress($event);" placeholder="Enter Zipcode">
                                    </div>
                                    <h3 style="text-align:center;"><span class="label label-default" style="background-color:#ee2c3d">{{contactNo}}</span></h3>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Modal 3--> 
</div>
    <!-- /container -->
  
       
    <!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
    <script src="Scripts/jquery-2.1.3.min.js"></script>
  <script src="Content/Assets/JS/bootstrap.min.js"></script>
    
</body>
</html>



<script>
  $('#myTab a[href="#home"]').tab('show') // Select tab by name
  $(".dropdown-menu li a").click(function(){
  var selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
});

$("#btnSearch").click(function(){
	alert($('.btn-select').text()+", "+$('.btn-select2').text());
});
  
  
  </script>
  <script type="text/javascript">
  (function($) {
      //fakewaffle.responsiveTabs(['xs', 'sm']);
  })(jQuery);
</script>
<script>
 $('.btnNext').click(function(){
  $('.nav-tabs > .active').next('li').find('a').trigger('click');
});

  $('.btnPrevious').click(function(){
  $('.nav-tabs > .active').prev('li').find('a').trigger('click');
});
</script>

<script>
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
        
    });
});
</script>