<!--<!--<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-59202259-1', 'auto');
    ga('send', 'pageview');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="Content/Images/favicon.png">

    <title>Sell your junk car, lightning fast!</title>-->

    <!-- Bootstrap core CSS -->

    <!--<!--<link href="Content/Assets/CSS/bootstrap.css" rel="stylesheet">-->
    <!--<link href="Content/Assets/CSS/bootstrap.min.css" rel="stylesheet">-->
    <!-- Custom styles for this template -->
    <!--<link href="Content/Assets/CSS/main.css" rel="stylesheet">
    <link href="Content/Assets/CSS/custom.css" rel="stylesheet">-->

    <!-- Fonts from Google Fonts -->
    <!--<!--<link href="Content/Assets/CSS/demo.css" rel="stylesheet">
    <link href="Content/Assets/CSS/style1.css" rel="stylesheet">-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--<script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-file-upload-shim.min.js"></script>
    <script src="Scripts/angular-file-upload.min.js"></script>

    <script src="App/RouteConfig.js"></script>-->
    <!--<script src="Scripts/angular-sanitize.js"></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>-->
    <!--<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="App/Config/App.js"></script>
    <script src="App/Controllers/HomeController.js"></script>
    <script src="App/Controllers/UtilityController.js"></script>
    <script src="App/Services/HomeService.js"></script>
    <script src="App/Services/UtilityService.js"></script>
    <script src="App/Services/AccountsService.js"></script>
    <script src="App/Controllers/AccountsController.js"></script>

    <script src="App//Authentication.js"></script>

    <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
    <script src="App/Animation/angular-spinner.js"></script>
    <script type="text/javascript" src="Scripts/angular-animate.js"></script>
    <link href="Content/Assets/CSS/animations.css" rel="stylesheet">
    <script type="text/javascript" src="App/Animation/alerts-manager.js"></script>

    <script type="text/javascript" src="App/CustomDirectives/filters.js"></script>
    <link href="Content/Assets/CSS/angular.rangeSlider.css" rel="stylesheet">
    <script type="text/javascript" src="App/CustomDirectives/angular.rangeSlider.js"></script>
    <script type="text/javascript" src="App/CustomDirectives/rangeFilter.js"></script>
    <script type="text/javascript" src="App/CustomDirectives/timeRangeFilter.js"></script>
        
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">-->    
    <!--<script type="text/javascript" src="Content/Assets/JS/jquery-1.3.2.min.js"></script>-->
<!--</head>-->

<!--<style>

    .container{
 position: relative;
 text-align: center;
}

    .navbar-brand {
        float: left;
        /* padding: 15px;*/
        font-size: 18px;
        line-height: 20px;
        height: 60px;
    }


    .bt {
        width: 230px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        display: inline-block;
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
        color: #FFFFFF;
        background: #ee2c3d;
        background-image: -webkit-linear-gradient(top, #ee2c3d, #d1020d);
        background-image: -moz-linear-gradient(top, #ee2c3d, #d1020d);
        background-image: -ms-linear-gradient(top, #ee2c3d, #d1020d);
        background-image: -o-linear-gradient(top, #ee2c3d, #d1020d);
        background-image: linear-gradient(to bottom, #ee2c3d, #d1020d);
        text-decoration: none;
    }

    .gt {
        width: 230px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        display: inline-block;
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
        color: #FFFFFF;
        background-color: #31a507;
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }

    .st {
        color: #FFF;
        border: 1px solid #31a507;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        display: inline-block;
        color: #FFFFFF;
        background-color: #31a507;
        background-image: linear-gradient(to bottom, #31a507, #63ce3c);
        }

    ul {
        line-height: 28px;
        font-size: 18px;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            background: red;
            cursor: inherit;
            display: block;
        }

    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }
</style>-->
<!--<body >-->
    <div id="page"><!-- style="background-color:#39F;"-->
        
        <ul class="cb-slideshow hidden-xs">
            <li><span>Image 01</span></li>
            <li><span>Image 02</span></li>
            <li><span>Image 03</span></li>
            <li><span>Image 04</span></li>
            <li><span>Image 05</span></li>
            <li><span>Image 06</span></li>
        </ul>
        

        <div class="container">
            <!--First Row-->
            <!--<div class="row">-->
                <!-- Navigation -->
                <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container">-->
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <!--<div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a data-ng-controller="utilityController as utilityControllerVM" data-ng-click="utilityControllerVM.redirectIndex();" class="navbar-brand" href="http://www.junkcartrader.com">-->
                                <!-- <img src="http://placehold.it/150x50&text=Logo" alt="">-->
                                <!--<img src="Content/Images/logo.png" />
                            </a>
                        </div>-->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <!--<div data-ng-controller="accountsController as accountsControllerVM" class="collapse navbar-collapse bs-navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="http://www.junkcartrader.com">Get an offer</a></li>
                                <li><a href="Howitworks.html">How it works</a></li>-->
                                <!--<li><a href="#">Testimonial</a></li>-->
                                <!--<li><a href="Aboutus.html">About us</a></li>
                                <li><a href="Contactus.html">Contact us</a></li>
                                <li><a href="Signup.html">Sign up</a></li>
                                <li data-ng-hide="accountsControllerVM.isLoggedIn"><a href="Login.html">Login</a></li>
                                <li style="color:#F00"><a href="#" data-toggle="modal" data-target="#Modal2"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true" style="color: #F00"></span> Call us</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right" data-ng-init="accountsControllerVM.getUserName();" data-ng-show="accountsControllerVM.isLoggedIn">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Welcome, {{liun |limitTo:4 }} {{liun.length >= 4 ?'....' : ''}} <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="Settings.html"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                                        <li class="divider"></li>
                                        <li data-ng-click="accountsControllerVM.logout();"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                                    </ul>
                            </ul>
                        </div>-->
                        <!-- /.navbar-collapse -->
                    <!--</div>-->
                    <!-- /.container -->
                <!--</nav>
            </div>-->
            <!--End First Row-->
            <!-- Second Row -->

            <div class="row">
               
                <span us-spinner="{radius:50, width:16, length: 32}" spinner-key="spinner-1"></span>
                

                <div class="col-lg-8">
                    

                    
                    <div id="mo" style=" border-radius:20px; height:auto; padding:20px; background-image:url(Content/Images/bg1.png); margin-top:70px; margin-bottom:200px;">
                        <h1 style="margin-bottom:5px; margin-top:5px; font-weight:bold"> Sell your car online </h1>
                        <h3 style="text-align:center; color:#aa1a1f"> <b>in few steps instantly</b> </h3><br>
                        <div class="tabbable " style="  margin:0 auto; ">
                            <ul class="nav nav-pills" role="tablist" id="myTab" style="margin-top:10px; margin-bottom:20px">
                                <li id="tabYearMakeModel" class="active"><a href="#tab1" role="tab"><b>Car Model & Year</b></a></li>
                                <li id="tabLocation"><a href="#tab2" role="tab"><b>Location</b></a></li>
                                <li id="tabQuestionnaire"><a href="#tab3" role="tab"><b>Questionnaire</b></a></li>
                                <li id="tabPhoto"><a href="#tab4" role="tab"><b>Photo</b></a></li>
                                <li id="tabOffer"><a href="#tab5" role="tab"><b>Offer</b></a></li>
                                <!--<li><a href="#tab6 " role="tab" data-toggle="tab"><b>Personal Information</b></a></li>-->
                                <!--<li><a href="#tab5" role="tab" data-toggle="tab">Step 5</a></li>
                                <li><a href="#tab6" role="tab" data-toggle="tab">Step 6</a></li>-->
                            </ul>

                            <div class="tab-content" style="margin-bottom:20px" ><!--data-ng-controller="homeController as homeControllerVM"-->
                                <div class="tab-pane active" id="tab1" data-ng-init="homeControllerVM.getRegistrationYears(); homeControllerVM.getCylinders();">
                                    <form class="form" role="form">
                                        <div class="form-group">
                                            <input min="1900" id="carMakeModelYear" class="form-control" data-ng-model="homeControllerVM.homeSelectedRegistrationYear" data-ng-change="homeControllerVM.saveYearData();homeControllerVM.getMakesByYear();" list="homeRegistrationYearsDatalist" placeholder="Year">
                                            <datalist id="homeRegistrationYearsDatalist" spellcheck="true">
                                                <option data-ng-repeat="year in registrationYearsList.$values" value="{{year}}">
                                            </datalist>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="carMakeModelMake" class="form-control" data-ng-model="homeControllerVM.homeSelectedMake" data-ng-change="homeControllerVM.saveMakeData();homeControllerVM.getModelsByYearMake();" list="homeMakesDatalist" placeholder="Make">
                                            <datalist id="homeMakesDatalist" spellcheck="true">
                                                <option data-ng-repeat="make in makesList.$values" value="{{make.Make_Name}}">
                                            </datalist>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="carMakeModelModel" class="form-control" data-ng-model="homeControllerVM.homeSelectedModel" data-ng-change="homeControllerVM.saveModelData();" list="homeModelsDatalist" placeholder="Model">
                                            <datalist id="homeModelsDatalist" spellcheck="true">
                                                <option data-ng-repeat="model in modelsList.$values" value="{{model.Model_Name}}">
                                            </datalist>
                                        </div>
                                        <div class="form-group">
                                            <input min="2" max="8" step="2" id="carMakeModelCylinder" class="form-control" data-ng-model="homeControllerVM.homeSelectedCylinders" data-ng-change="homeControllerVM.saveCylinderData();" list="homeCylindersDatalist" placeholder="Cylinders">
                                            <datalist id="homeCylindersDatalist" spellcheck="true">
                                                <option data-ng-repeat="cylinder in cylindersList.$values" value="{{cylinder}}">
                                            </datalist>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane" id="tab2">
                                    <h3 style="text-align:center; color:#aa1a1f; margin-top:10px; margin-bottom:10px;"><b>Where is the car located? </b></h3>

                                    <form class="form" role="form">

                                        <div class="form-group">
                                            <input type="number" data-ng-model="homeControllerVM.homeZipCode" class="form-control" id="locationTabZipCode" placeholder="Zip">
                                        </div>

                                        <div class="form-group">
                                            <div class="row" style="margin-top:10px; margin-bottom:10px">
                                                <div class="col-sm-6" style="padding:5px;">
                                                    <button type="button" id="btnGetAnOffer" data-ng-disabled="{{isDisableGetAnOfferButton}}" data-ng-click="homeControllerVM.checkForCustomerInfoPopupOnGetAnOffer(homeControllerVM.homeZipCode);" class="btn gt btn-lg">
                                                        <b>Get an offer</b>
                                                    </button>
                                                </div>

                                                <div class="col-sm-6" style="padding:5px;">
                                                    <button type="button" class="btn bt btn-lg" data-ng-disabled="{{isDisableGetABetterOfferButton}}" data-ng-click="homeControllerVM.checkZipCodeBeforeQuestionnaireOnGetABetterOffer(homeControllerVM.homeZipCode);">
                                                        <b>Get a better offer</b>
                                                    </button>
                                                </div>

                                             </div>
                                         </div>

                                    </form>
                                </div>


                                <div class="tab-pane" id="tab3">
                                    <div class="row" style="padding-top:10px; padding-bottom:10px; margin-top:20px; ">
                                        <div class="col-sm-9" style="padding-left:25px;text-align:left">
                                            <h4 id="dataH4" style="padding-top:10px; color:#000"><span id="selectedYearData"></span> <span id="selectedMakeData"></span> <span id="selectedModelData"></span> <span id="selectedCylindersData"></span></h4>
                                        </div>

                                        <div class="col-sm-3">
                                            <button type="button" data-toggle="modal" data-target=".bs-example-modal-sm" data-ng-click="homeControllerVM.setSaveEditData();" data-ng-init="homeControllerVM.getQuestionnaire();" class="btn bt btn-md" style="width:auto">Edit</button>
                                        </div>
                                    </div>
                                    <h3 style="text-align:left; color:#000; margin-top:10px; margin-bottom:10px; padding-left:10px"><b>Condition</b></h3>
                                    <h5 style="text-align:left; margin-top:-10px;padding-left:10px">Answer the following questions: </h5><br>
                                    <h3 style="text-align:left; color:#aa1a1f; margin-top:10px; margin-bottom:10px;padding-left:10px"><b>Drivetrain </b></h3><hr>
                                    <div class="row" style="padding-top:10px;" data-ng-repeat="drivetrainQuestion in homeControllerVM.drivetrainQuestionnaireList">
                                        <div class="col-sm-9" style="padding-left:25px;text-align:left" id="Q{{drivetrainQuestion.Question_Id}}">
                                            <b>{{ drivetrainQuestion.Question.Question }}</b>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <select class="form-control" id="ddQ{{drivetrainQuestion.Question_Id}}">
                                                    <option value="" selected disabled>None</option>
                                                    <option data-ng-repeat="answer in drivetrainQuestion.Answers.$values" value="{{answer.Answer_Id}}">{{answer.Answer}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <h3 style="text-align:left; color:#aa1a1f; margin-top:10px; margin-bottom:10px;padding-left:10px"><b>Exterior/Interior</b></h3><hr>
                                    <div class="row" style="padding-top:10px;" data-ng-repeat="interiorExteriorQuestion in homeControllerVM.interiorExteriorQuestionnaireList">
                                        <div class="col-sm-9" style="padding-left:25px;text-align:left" id="Q{{interiorExteriorQuestion.Question_Id}}">
                                            <b>{{ interiorExteriorQuestion.Question.Question }}</b>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <select class="form-control" id="ddQ{{interiorExteriorQuestion.Question_Id}}">
                                                    <option value="" selected disabled>None</option>
                                                    <option data-ng-repeat="answer in interiorExteriorQuestion.Answers.$values" value="{{answer.Answer_Id}}">{{answer.Answer}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="tab4">

                                    <button type="button" class="btn gt btn-lg" data-toggle="modal"
                                            data-target="#Modal3" data-ng-click="homeControllerVM.getCustomerId();">
                                        <b>Upload Up to 5 Images</b>
                                    </button>

                                </div>

                                <div class="tab-pane" id="tab5">
                                    <div class="form-group">
                                        <span style="font-family:'Century Gothic'; color:darkgreen; font-size:100px;" data-ng-bind-template="{{offerPrice}}"><b></b></span>
                                        <h3 style="text-align:center; color:#aa1a1f; margin-top:10px; margin-bottom:10px;"><b>{{homeControllerVM.offerTabNegotiationMessage}}</b></h3>
                                        <div class="row" style="margin-top:10px; margin-bottom:10px">
                                            <div class="col-sm-12" style=" margin-bottom:10px"><h2><span class="label label-default">{{contactNo}}</span></h2> </div>
                                            <div class="col-sm-12" data-ng-click="homeControllerVM.confirmOffer();" style="padding:5px;" align="center"><button type="button" class="btn gt btn-lg"><b>Confirm</b></button></div>

                                        </div>
                                    </div>

                                </div>

                                <div style="margin-top:10px;">
                                    <a id="navPrevious" data-ng-click="homeControllerVM.navigatePrevious();" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"> </span> </a>
                                    <a id="navNext" data-ng-click="homeControllerVM.navigateNext();" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-right">  </span> </a>
                                </div>
                            </div>
                        </div><!--End First col-->

                        <div class="col-lg-4 ">
                        </div>
                    </div>
                    <!-- End Second Row -->
                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content" style="background-color:#27bbed;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                                    <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                                </div>
                                <div class="modal-body" id="myModalForPopup.html">
                                    <div style="padding:20px">
                                        <form role="form" ><!--data-ng-controller="homeController as homeControllerVM"-->
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="editYear" data-ng-model="homeControllerVM.homeSelectedRegistrationYear" data-ng-change="homeControllerVM.getMakesByYear();" list="homeRegistrationYearsDatalist" placeholder="Year">
                                                <datalist id="homeRegistrationYearsDatalist" spellcheck="true">
                                                    <option data-ng-repeat="year in registrationYearsList" value="{{year}}">
                                                </datalist>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="editMake" data-ng-model="homeControllerVM.homeSelectedMake" data-ng-change="homeControllerVM.getModelsByYearMake();" list="homeMakesDatalist" placeholder="Make">
                                                <datalist id="homeMakesDatalist" spellcheck="true">
                                                    <option data-ng-repeat="make in makesList" value="{{make.Make_Name}}">
                                                </datalist>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="editModel" data-ng-model="homeControllerVM.homeSelectedModel" data-ng-change="homeControllerVM.updateModel(homeControllerVM.homeSelectedModel);" list="homeModelsDatalist" placeholder="Model">
                                                <datalist id="homeModelsDatalist" spellcheck="true">
                                                    <option data-ng-repeat="model in modelsList" value="{{model.Model_Name}}">
                                                </datalist>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" id="editCylinder" class="form-control" data-ng-model="homeControllerVM.homeSelectedCylinders" data-ng-change="homeControllerVM.saveCylinderData();" list="homeCylindersDatalist" placeholder="Cylinders">
                                                <datalist id="homeCylindersDatalist" spellcheck="true">
                                                    <option data-ng-repeat="cylinder in cylindersList" value="{{cylinder}}">
                                                </datalist>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" data-ng-model="homeControllerVM.homeZipCode" class="form-control" id="editZipCode" placeholder="Zip">
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn bt btn-lg" data-ng-click="homeControllerVM.checkZipCodeOnSaveEdit(homeControllerVM.homeZipCode);homeControllerVM.setSelected();" data-dismiss="modal"><b>Save</b></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


                <!--Modal 2-->
                <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="background-color:#27bbed;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                                <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                            </div>
                            <div class="modal-body">
                                <div style="padding:20px">
                                    <form role="form" name="basicInfoForm"  data-ng-init="homeControllerVM.getStates();"><!--data-ng-controller="homeController as homeControllerVM"-->
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="basicModalName" name="basicModalName" data-ng-model="homeControllerVM.homeBetterOfferName" data-ng-required="true" placeholder="Name" required>
                                            <span style="color:red" ng-show="basicInfoForm.basicModalName.$dirty && basicInfoForm.basicModalName.$invalid">
                                                <span ng-show="basicInfoForm.basicModalName.$error.required">Name is required.</span>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="basicModalAddress" data-ng-model="homeControllerVM.homeBetterOfferAddress" placeholder="Address">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="basicModalState" data-ng-model="homeControllerVM.homeBetterOfferState" data-ng-change="homeControllerVM.getCities();" list="homeStatesDatalist" placeholder="State">
                                            <datalist id="homeStatesDatalist" spellcheck="true">
                                                <option data-ng-repeat="state in statesList.$values" value="{{state.State_Name}}">
                                            </datalist>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="basicModalCity" data-ng-model="homeControllerVM.homeBetterOfferCity" list="homeCitiesDatalist" placeholder="City">
                                            <datalist id="homeCitiesDatalist" spellcheck="true">
                                                <option data-ng-repeat="city in citiesList.$values" value="{{city.City_Name}}">
                                            </datalist>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="basicModalZipCode" id="basicModalZipCode" data-ng-model="homeControllerVM.homeZipCode" placeholder="Zip" required>
                                            <span style="color:red" ng-show="basicInfoForm.basicModalZipCode.$dirty && basicInfoForm.basicModalZipCode.$invalid">
                                                <span ng-show="basicInfoForm.basicModalZipCode.$error.required">Zip-code is required.</span>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="basicModalPhone" id="basicModalPhone" data-ng-model="homeControllerVM.homeBetterOfferPhone" data-ng-required="true" placeholder="Phone" required>
                                            <span style="color:red" ng-show="basicInfoForm.basicModalPhone.$dirty && basicInfoForm.basicModalPhone.$invalid">
                                                <span ng-show="basicInfoForm.basicModalPhone.$error.required">Phone is required.</span>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="basicModalEmail" id="basicModalEmail" data-ng-model="homeControllerVM.homeBetterOfferEmail" data-ng-required="true" placeholder="Email" required>
                                            <span style="color:red" ng-show="basicInfoForm.basicModalEmail.$dirty && basicInfoForm.basicModalEmail.$invalid">
                                                <span ng-show="basicInfoForm.basicModalEmail.$error.required">email address is required.</span>
                                                <span class="error" data-ng-show="basicInfoForm.basicModalEmail.$error.email">Invalid email address.</span>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn bt btn-lg" data-ng-click="homeControllerVM.checkOfferType();" data-ng-disabled="(basicInfoForm.basicModalName.$dirty && basicInfoForm.basicModalName.$invalid)
                                                || (basicInfoForm.basicModalZipCode.$dirty && basicInfoForm.basicModalZipCode.$invalid) || (basicInfoForm.basicModalPhone.$dirty && basicInfoForm.basicModalPhone.$invalid) || (basicInfoForm.basicModalEmail.$dirty && basicInfoForm.basicModalEmail.$invalid)">
                                                <b>Save</b>
                                            </button>
                                        </div>

                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!--End Modal 2-->
                <!--Modal 3-->
                <!--<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="background-color:#27bbed;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                            </div>
                            <div class="modal-body">
                                <div style="padding:20px">
                                    <form role="form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="callUsZipCode" data-ng-model="homeControllerVM.homeZipCode" data-ng-keypress="onKeyPress($event,homeControllerVM.homeZipCode);" placeholder="Enter Zipcode">
                                        </div>
                                        <h3 style="text-align:center;"><span class="label label-default" style="background-color:#ee2c3d">{{contactNo}}</span></h3>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!--End Modal 3-->
                <!--Modal 4-->
                <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="height:auto; background-color:#27bbed">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                            </div>
                            <div class="modal-body">
                                <div style="padding:20px">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-primary btn-file">
                                                        Browse&hellip; <input type="file" id="fileUpload1" data-ng-file-select="onEachFileSelect($files)" multiple />
                                                    </span>
                                                </span>
                                                <input type="text" id="file1Name" class="form-control" style="height:34px" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 "></div>
                                        <div class="col-lg-2 "><button type="button" data-ng-click="clearFile1();" class="btn bt btn-xs" style="width:auto"><b>Delete</b></button> </div>
                                    </div>

                                    <div class="row" style="margin-top:5px">
                                        <div class="col-lg-10 ">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-primary btn-file">
                                                        Browse&hellip; <input type="file" id="fileUpload2" data-ng-file-select="onEachFileSelect($files)" multiple>
                                                    </span>
                                                </span>
                                                <input type="text" id="file2Name" class="form-control" style="height:34px" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 "></div>
                                        <div class="col-lg-2 "><button type="button" data-ng-click="clearFile2();" class="btn bt btn-xs" style="width:auto"><b>Delete</b></button> </div>
                                    </div>
                                    <div class="row" style="margin-top:5px">
                                        <div class="col-lg-10 ">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-primary btn-file">
                                                        Browse&hellip; <input type="file" id="fileUpload3" data-ng-file-select="onEachFileSelect($files)" multiple>
                                                    </span>
                                                </span>
                                                <input type="text" id="file3Name" class="form-control" style="height:34px" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 "></div>
                                        <div class="col-lg-2 "><button type="button" data-ng-click="clearFile3();" class="btn bt btn-xs" style="width:auto"><b>Delete</b></button> </div>
                                    </div>
                                    <div class="row" style="margin-top:5px">
                                        <div class="col-lg-10 ">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-primary btn-file">
                                                        Browse&hellip; <input type="file" id="fileUpload4" data-ng-file-select="onEachFileSelect($files)" multiple>
                                                    </span>
                                                </span>
                                                <input type="text" id="file4Name" class="form-control" style="height:34px" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 "></div>
                                        <div class="col-lg-2 "><button type="button" data-ng-click="clearFile4();" class="btn bt btn-xs" style="width:auto"><b>Delete</b></button> </div>
                                    </div>
                                    <div class="row" style="margin-top:5px">
                                        <div class="col-lg-10 ">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-primary btn-file">
                                                        Browse&hellip; <input type="file" id="fileUpload5" data-ng-file-select="onEachFileSelect($files)" multiple>
                                                    </span>
                                                </span>
                                                <input type="text" id="file5Name" class="form-control" style="height:34px" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 "></div>
                                        <div class="col-lg-2 "><button type="button" data-ng-click="clearFile5();" class="btn bt btn-xs" style="width:auto"><b>Delete</b></button> </div>
                                    </div>
                                    <button type="button" class="btn bt btn-lg" data-ng-click="onFileSelect();" data-dismiss="modal"><b>Upload</b></button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Modal 4-->

                <!--<div id="footer" class="row">
                    <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color:#000; height:30px">
                        <div class="navbar-inner navbar-content-center">

                            <div class="col-lg-4 text-center">
                                <a href="Aboutus.html" class="btn btn-link" role="button" style="color:#fff; font-size:11px;">About Us</a>
                                <a href="Howitworks.html" class="btn btn-link" role="button" style="color:#fff; font-size:11px;">How it works</a>
                                <a href="Contactus.html" class="btn btn-link" role="button" style="color:#fff; font-size:11px;">Contact Us</a>
                            </div>

                            <div class="col-lg-4 text-center">
                                <span style="display:block; text-align:center; list-style:none; font-size:11px; color:#FFF; height:30px; padding-top:7px ">
                                    Copyright © 2015 junkcartrader.com. All Rights Reserved
                                </span>
                            </div>

                            <div class="col-lg-4 text-center">
                                <ul style="display:block; list-style:none; ">
                                    <li style="display:inline"> <a href="https://www.facebook.com/junkcartrader" target="_blank"> <img src="Content/Images/facebook.png" /> </a> </li>
                                    <li style="display:inline"> <a href="https://twitter.com/junkcartrader" target="_blank"> <img src="Content/Images/twitter.png" /> </a> </li>
                                    <li style="display:inline"> <a href="https://www.linkedin.com/company/6386060" target="_blank"> <img src="Content/Images/linkedin.png" /> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>-->
            </div><!-- /container -->
        </div>
        <!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
        <!--<script src="Scripts/jquery-2.1.3.min.js"></script>
        <script src="Content/Assets/JS/bootstrap.min.js"></script>-->
    </div>
<!--</body>-->
<!--</html>-->

<!--<script>
    $('#myTab a[href="#home"]').tab('show') // Select tab by name
    $(".dropdown-menu li a").click(function () {
        var selText = $(this).text();
        $(this).parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
    });

    $("#btnSearch").click(function () {
        alert($('.btn-select').text() + ", " + $('.btn-select2').text());
    });


</script>-->
<!--<script type="text/javascript">
    (function ($) {
        //fakewaffle.responsiveTabs(['xs', 'sm']);
    })(jQuery);
</script>
<script>
    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready(function () {
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
    });
</script>-->